.luma-heading {
  margin: 0;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: inherit;
}

.luma-heading--left {
  text-align: left;
}

.luma-heading--center {
  text-align: center;
}

/* Level styles */
.luma-heading--level-1 {
  font-size: clamp(3rem, 6vw, 4.5rem);
  line-height: 1.05;
}

.luma-heading--level-2 {
  font-size: clamp(2.25rem, 4vw, 3rem);
  line-height: 1.1;
}

.luma-heading--level-3 {
  font-size: 1.5rem;
  line-height: 1.2;
}

.luma-heading--level-4 {
  font-size: 1.125rem;
  line-height: 1.25;
}

.luma-heading.is-muted {
  opacity: 0.75;
}
